.EstilosCondicionales {
    font-size: 1.5rem;
}

.toggleButton {
    transition: all 0.3s;
    backdrop-filter: blur(2px);
    outline: none;
    &.on {
        box-shadow: 0 0 3rem rgb(121, 240, 121);
        background-color: rgba(121, 240, 121, 0.5);
    }
    &.off {
        box-shadow: 0 0 3rem rgb(240, 121, 121);
        background-color: rgba(240, 121, 121, 0.5);
    }
}