.contenedor {
    background-color: rgb(126, 126, 126);
    width: 100%;
    height: 10rem;
    margin-bottom: 2rem;
}
.img-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}

.img-grid img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}